/* src/pages/Login.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #F0F1FF;
  padding: 20px;
  box-sizing: border-box;
}



form {
  margin: 2%;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background: #ffffff;
  justify-content: flex-start;
  gap: 13px;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

input {
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;
  color: black;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
  outline: none;
  border-color: #6b5b95;
  box-shadow: 0 0 8px rgba(107, 91, 149, 0.5);
}

button {
  padding: 12px;
  background-color: #5664F5;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  transform: translateY(-2px);
}

.error {
  color: #ff4d4f;
  font-size: 18px;
  text-align: center;
}

@media (max-width: 1000px) {
    form{
      
    gap: 7px;
    padding: 25px;
    width: 80%;
    }
}